/* Smooth scroll*/
html{
    scroll-behavior: auto !important;
}


/* Integración de fuentes*/
body {
  font-family: "Lato", sans-serif;
  background-color: #000000;
}

body hr{
color:#17A2B8;
}


/* navbar*/
.navbar {
  background-color: transparent !important;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar-brand {
  font-weight: 700;
}


/*Posicionamiento navbar sobre el carousel*/
.hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    top: 0rem; 
    background-image: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -1;
}


/*Quienes-Somos*/
.bg-blue{
    background-color: #17A2B8;
}


/*Destacados*/
.card-body{
    background-color: #17A2B8;
    text-align: left;
}

#Destacados img{
    max-height: 45%;
}

/*Contacto*/
.contacto-fondo{
    background-color: #ffffff;
}


/*Footer*/
#footer{
    background-color: #17A2B8;
}

#footer a{
    color: #ffffff;
    text-decoration: none;
}

/*Modal*/
.modal{
    background-color: #000000;
    font-style: italic;
}
